{% extends "layouts/111-online-default.html" %}

{% set title = "Prototype" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <h1 class="nhsuk-heading-xl">{{ serviceName + " prototype" }}</h1>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <ul class="nhsuk-list">
            <li>
              <a href="./question-1">What was your sex at birth</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
