{% extends "layouts/111-online-default.html" %}

{% set title = "Prototype" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <h1 class="nhsuk-heading-xl">Game day</h1>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% from 'components/contents-list/macro.njk' import contentsList %}

          {{ contentsList({
            items: [
              {
                href: "./question-1",
                text: "What was your sex at birth"
              },
              {
                href: "./question-2",
                text: "Do you have a care plan for these symptoms?"
              },
              {
                href: "./question-3",
                text: "Find the right topic"
              },
              {
                href: "./question-4",
                text: "Book a call with a 111 nurse now"
              },
              {
                href: "./question-5",
                text: "You should get a call in 20 minutes"
              }
            ]
          }) }}

        </div>
      </div>
    </main>
  </div>
{% endblock %}
